<a href="https://colab.research.google.com/github/Cherinsoas/gittutorials/blob/main/loops%26function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
'''
while condition :
    do something
'''

'\nwhile condition :\n    do something\n'

In [2]:
# print everything till 8, given values 0 - 100

In [3]:
for i in range(0, 101):
    if i == 9:
        break
    print(i)

0
1
2
3
4
5
6
7
8

In [4]:
i = 0
while i <= 8:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8

In [5]:
while True:
    name = input("Please enter your name : ")
    if name == "Cherin":
        break
    print(name)

print("hello")

Please enter your name : Gee
Gee
Please enter your name : Santhu
Santhu
Please enter your name : Cherin
hello

In [7]:
a = True
while a:
    name = input("Please enter your name : ")
    if name == "Cherin":
        a = False
    print(name)

print("hello")

Please enter your name : Santhu
Santhu
Please enter your name : Cherin
Cherin
hello

In [8]:
a = [1,2,3,4,5,7,8,9]

for i in a:
    print(i)

1
2
3
4
5
7
8
9

In [10]:
def add():
    a = int(input("Enter a value : "))
    b = int(input("Enter a value : "))
    print(a + b)

In [11]:
for i in range(0,3):
    add()

Enter a value : 4
Enter a value : 5
9
Enter a value : 7
Enter a value : 4
11
Enter a value : 4
Enter a value : 5
9

In [12]:
print("hello") # Function

hello

In [13]:
def add(a,b):
    print(a+b)

print(a)

[1, 2, 3, 4, 5, 7, 8, 9]

In [14]:
add(10,2)

12

In [15]:
print(a)

[1, 2, 3, 4, 5, 7, 8, 9]

In [16]:
add(1,234232)

234233

In [ ]:
# default arguments

In [17]:
def add(a=0, b=0):
    print(a)
    print(b)
    print(a+b)

In [18]:
add()

0
0
0

In [19]:
add(5)

5
0
5

In [20]:
add(5,6)

5
6
11

In [21]:
a = 5
add(10, a)

10
5
15

In [22]:
a = 0
print(a)

0

In [23]:
a = 5
print(5)

5

In [24]:
def add(a=0, b=0):
    print(a)
    print(b)
    print(a+b)

In [25]:
add(a=3, b=3)

3
3
6

In [26]:
add(b=3)

0
3
3

In [27]:
print("hello", end="\n\n\n\n")
print("hello")

hello



hello

In [28]:
def add_multiple_value(*args):
    print(type(args))
    sum = 0
    for val in args:
        sum+=val
    print(sum)

In [29]:
add_multiple_value(1,2,3,4,5)

<class 'tuple'>
15

In [30]:
def greet_names(greeting, *args):
    for i in args:
        print(greeting, i)
    print(len(args))
    print(args[0])
    print(args[1])
    print(args[2])

In [31]:
greet_names("hello how are you !!", "Cherin", "Santhu", "Gee")

hello how are you !! Cherin
hello how are you !! Santhu
hello how are you !! Gee
3
Cherin
Santhu
Gee

In [32]:
def add(**kwargs):
    print(type(kwargs))
    print(kwargs)
    print(kwargs["a"] +kwargs["c"] +kwargs["b"])
    print(kwargs.get("c") + kwargs.get("b") + kwargs.get("d"))

add(a=2, b=3, c=4, d=5, e=6)

<class 'dict'>
{'a': 2, 'b': 3, 'c': 4, 'd': 5, 'e': 6}
9
12

In [33]:
def add(*args, **kwargs):
    print(type(args))
    print(type(kwargs))
    print(args)
    print(kwargs)

add(1,2, c=4, d=5, e=6)

<class 'tuple'>
<class 'dict'>
(1, 2)
{'c': 4, 'd': 5, 'e': 6}

In [34]:
a = [1,2,3,4,5,6,7,8]
sum(a)

36

In [35]:
def add(a,b):
    c = a+b
    return c

In [36]:
print("Function calling")
d = add(1,2)
print(d)
print("Function executed successfully.")

Function calling
3
Function executed successfully.

In [ ]:
a = 0
b = 0
print(a)
print(b)
def add(a=1, b=1):
    c = a+b
    print(a)
    print(b)
    print(c)
add(5,5)
print(a)
print(b)

0
0
5
5
10
0
0

# problem statment solution

In [37]:
id = 1
patient_info = {}

In [38]:
def calculate_bmi(weight_kg, height_cm):
    bmi = weight_kg / ((height_cm/100)**2)
    return bmi

In [39]:
def patient_admission(f_name, l_name, date_ddmmyy, weight_kg, height_cm, country_lower_case):
    global id
    global patient_info

    patient_info[id] = {}

    patient_info[id]["f_name"] = f_name
    patient_info[id]["l_name"] = l_name
    patient_info[id]["date_ddmmyy"] = date_ddmmyy
    patient_info[id]["weight_kg"] = weight_kg
    patient_info[id]["height_cm"] = height_cm
    patient_info[id]["country"] = country_lower_case
    patient_info[id]["temp_ind"] = None
    patient_info[id]["temp_others"] = None
    patient_info[id]["bmi"] = calculate_bmi(weight_kg, height_cm)

    if country_lower_case == "india":
        patient_info[id]["temp_ind"] = float(input("Enter patient temperature in celcius : "))
    else :
        patient_info[id]["temp_others"] = float(input("Enter patient temperature in fahrenheit: "))

    # increamenet the id
    id+=1

In [40]:
def get_patient_details_for_opd(patient_id):
    temp = None

    if patient_info[patient_id]["temp_ind"] is not None:
        temp = patient_info[patient_id]["temp_ind"]
    else :
        temp = patient_info[patient_id]["temp_others"]

    print("Patient_id", list(patient_info.keys())[patient_id-1], " Patient full_name is : ", patient_info[patient_id]["f_name"] + " " + patient_info[patient_id]["l_name"], "Patient temperate is : ", temp, "Patient BMI is : ", patient_info[patient_id]["bmi"])

In [41]:
patient_info.keys()

dict_keys([])

In [43]:
f_name = input("Enter full name : ")
l_name = input("Enter last name : ")
date_ddmmyy = input("Enter date in ddmmyy format : ")
weight_kg = float(input("Enter weight in kg : "))
height_cm = float(input("Enter height in cm : "))
country_lower_case = input("Enter country in lowercase : ")

patient_admission(f_name, l_name, date_ddmmyy, weight_kg, height_cm, country_lower_case)

Enter full name : Cherin
Enter last name : Geevarghese
Enter date in ddmmyy format : 130503
Enter weight in kg : 70
Enter height in cm : 180
Enter country in lowercase : india
Enter patient temperature in celcius : 90

In [44]:
get_patient_details_for_opd(2)

Patient_id 2  Patient full_name is :  Cherin Geevarghese Patient temperate is :  90.0 Patient BMI is :  21.604938271604937

In [45]:
get_patient_details_for_opd(1)

Patient_id 1  Patient full_name is :  Cherin Geevarghese Patient temperate is :  90.0 Patient BMI is :  21.296296296296294

In [46]:
# 3,1
# 2,3
# 1,5
# 0,7

In [47]:
star_i = 1
for i in range(3, -1, -1):
    print(" "*i, star_i*"*")
    star_i+=2

    *
   ***
  *****
 *******